body {
    background: #fff;
}

#appointments {
    border: 1px solid #ccc;
    margin: 5rem auto 0;
    padding: 1.25rem 0;
    width: 525px;
}

#appointments input {
    background: #edf3ff;
}

#appointments label {
    display: inline-block;
    font-size: .9rem;
    margin-bottom: .25rem;
}

#appointmentTable {
    margin: 3rem auto 0;
    max-width: 992px;
}

#appointmentTable thead>th,
#appointmentTable tr>td {
    text-align: center;
}

.btn.btn-submit {
    background: #1c4bb4;
    border-radius: 9px;
    color: #fff;
    padding: .5em 1em;
}

.disabled {
    opacity: .4;
    pointer-events: none;
}

.email-validation,
.password-match {
    display: none;
}

.email-validation.email-alert,
.password-match.password-alert {
    color: #cb2000;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin: .5em 0;
}