body {
    background: #fff;
}

#appointments {
    width: 500px;
    max-width: calc(100% - 2rem);
    margin: 5rem auto 0;
    padding: 1.25rem 0;
    border: 2px solid #ccc;
}

#appointments input {
    background: #edf3ff;
}

#appointments label {
    display: inline-block;
    margin-bottom: 0.25rem;
    color: #353535;
    font-size: 0.9rem;
}

#appointmentTable {
    max-width: 992px;
    margin: 3rem auto 0;
}

.btn.btn-submit {
    display: block;
    width: 120px;
    margin: 0 auto;
    padding: 0.45rem 0 0.35rem;
    border-radius: 8px;
    background: #1441a1;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.email-validation,
.password-match {
    display: none;
}

.email-validation.email-alert,
.password-match.password-alert {
    display: inline-block;
    margin: 0.5rem 0;
    color: #cb2000;
    font-size: 15px;
    font-weight: 500;
}