body {
    background: #fff;
}

.countries-table {
    border: 1px solid #E5E7EB;
    margin: 5rem auto 0;
    max-width: 525px;
}

.countries-table table thead>th {
    border-bottom: 1px solid #E5E7EB;
    font-size: .9rem;
    width: 60%;
}

.countries-table table thead>th,
.countries-table table tr>td {
    color: #333;
    padding: .85rem 0;
    text-align: center;
    text-transform: uppercase;
}

.countries-table table tr>td {
    font-size: .8rem;
    width: 40%;
}