body {
    background: #fff;
}

.countries-statistics {
    font-size: .75rem;
}

.countries-statistics>div {
    margin: 0;
    padding: .35rem;
}

.countries-statistics,
.countries-table {
    margin: 2rem auto 0;
    max-width: 525px;
}

.countries-statistics,
.countries-table table {
    border: 1px solid #E5E7EB;
}

.countries-table table thead tr>th {
    border-bottom: 1px solid #E5E7EB;
    font-size: .9rem;
    width: 60%;
}

.countries-statistics>div,
.countries-table table thead tr>th,
.countries-table table tr>td {
    color: #333;
    text-align: center;
    text-transform: uppercase;
}

.countries-table table thead tr>th,
.countries-table table tr>td {
    padding: .85rem;
}

.countries-table table tr>td {
    font-size: .8rem;
    width: 40%;
}