body {
    background: #fff;
    box-sizing: border-box;
}

.main {
    display: block;
    margin: 4rem auto 0;
    width: 250px;
}

.main > div h3 {
    background: #333;
    color: #fff;
    display: block;
    font-size: 21px;
    margin: 2rem auto;
    padding: .25rem .35rem;
    text-align: center;
    width: auto;
}

.counter-block {
    display: block;
}

.counter-block button {
    background: #333;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    margin: 0 .5rem;
    padding: .5rem .75rem;
}