body {
    background: #fff;
}

.disabled {
    opacity: .66;
    pointer-events: none;
}

.btn.btn-submit {
    background: #4F46E5;
    border-radius: 6px;
    color: #eef2ff;
    cursor: pointer;
    font-weight: 600;
    padding: .5em 1em;
}

.form-container {
    border: 1px solid #ccc;
    display: block;
    margin: 5em auto 0;
    padding: 1.5em 1em 1.25em 0;
}

.form-container label {
    font-weight: 500;
}

.form-container label,
.form-container input,
.form-container button {
    font-size: .9em;
}

.form-container button {
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form-container .form-checkbox {
    align-items: center;
    display: flex;
}