body,
#productsWidget {
    background: #fff;
}

#productsWidget {
    margin: 2rem auto;
    max-width: 600x;
}

.widget {
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
}

.widget--green {
    background: green;
}

.widget--blue {
    background: blue;
}

.widget--black {
    background: black;
}