@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background: #fff;
}

#productWidgets {
    font-family: "Cabin", sans-serif;
    margin: 2rem auto;
    width: 600px;
}

.productWidgets-top {
    border-bottom: 2px solid #b0b0b0;
    width: 100%;
}

.productWidgets-top h3 {
    color: #212121;
    font-size: 30px;
    font-weight: 700;
    margin: 1rem 0;
}

.productWidgets-content {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.widget {
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    width: 30%;
}

.widget-title,
.widget-subtitle {
    color: #fff;
}

.widget-top {
    padding: .5rem;
}

.widget--green {
    background: green;
}

.widget--blue {
    background: blue;
}

.widget--black {
    background: black;
}