body {
    background: #fff;
}

#productsWidget {
    margin: 2rem auto;
    max-width: 600x;
}

.widget {
    color: #fff;
}

.widget--green {
    background: green;
}

.widget--blue {
    background: blue;
}

.widget--black {
    background: black;
}