body {
    background: #fff;
}

.profile-container {
    border: 1px solid #ccc;
    display: block;
    line-height: 30px;
    margin: 2rem auto 0;
    padding: 15px 0 15px 15px;
    width: 320px;
}

.profile-container p {
    color: #111;
    margin: 0;
}