body {
    background: #fff;
}

#sendText {
    margin: 5em auto 0;
    max-width: 400px;
}

#sendText label {
    font-size: 1.25em;
}

#sendText #message {
    background: #fff;
    color: #333;
    margin: 1.5em 0;
    min-height: 100px;
}

.messageBtn {
    background: #af1a00;
    border-radius: 6px;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    padding: .5em 1em;
}

#yourText {
    color: #333;
    display: inline-block;
    margin: 3em 0 0;
}

#sentMessage {
    border: 1px solid #ccc;
    margin: 3em auto 0;
    max-width: 320px;
    padding: 1em;
}

#sentMessage p {
    color: #333;
    font-size: 1em;
}