body {
    background: #fff;
}

#sendText {
    margin: 5rem auto 0;
    max-width: 400px;
}

#sendText label {
    font-size: 16px;
}

#sendText #message {
    margin: 1.5rem 0;
    min-height: 100px;
}

.messageBtn {
    background: #af1a00;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: .6rem 1.2rem;
}

#yourText {
    display: inline-block;
    margin-top: 3rem;
}

#sentMessage {
    border: 1px solid #ccc;
    margin: 3rem auto 0;
    max-width: 320px;
    padding: 1rem;
}