body {
    background: #fff;
}

.transactions-results,
.transactions-table {
    color: #333;
    margin: 0 auto;
    max-width: 600px;
}

table {
    border: 1px solid #ccc;
}

table th {
    background: #eee;
}

table th,
table td {
    padding: .5rem;
    text-align: center;
}

table td {
    cursor: pointer;
}

.transactions-results {
    margin: 2rem auto;
}

.transactions-results h3 {
    font-size: 21px;
    margin: 1rem 0;
    text-align: center;
}