@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background: #fff;
}

#productWidgets {
    border-radius: 8px;
    box-shadow: 0 2px 22px rgba(0, 0, 0, .15);
    font-family: "Cabin", sans-serif;
    margin: 2rem auto;
    position: relative;
    width: 330px;
}

@media all and (min-width: 768px) {
    #productWidgets {
        box-shadow: 0 10px 85px rgba(0, 0, 0, .15);
        padding: 0 1rem 3.5rem;
        width: 745px;
    }
}

@media all and (min-width: 992px) {
    #productWidgets {
        width: 800px;
    }
}

/* Colors */
.widget--green {
    background: #3b755f;
}

.widget--blue {
    background: #2e3a8c;
}

.widget--black {
    background: #212121;
}

.widget--white {
    background: #fff;
}

.widget--white .widget-title,
.widget--white .widget-subtitle,
.widget--beige .widget-title,
.widget--beige .widget-subtitle {
    color: #000;
}

.widget--beige {
    background: #f2ebdb;
}

/* Widget styling */
.productWidgets-top {
    border-bottom: 2px solid #b0b0b0;
    margin: 0 auto;
    padding-top: 1rem;
    width: 270px;
}

@media all and (min-width: 768px) {
    .productWidgets-top {
        width: 100%;
    }
}

.productWidgets-top h3 {
    color: #212121;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 .65rem;
}

.productWidgets-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.35rem;
}

@media all and (min-width: 768px) {
    .productWidgets-content {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.3rem;
    }
}

.widget {
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 2.5rem;
    width: 230px;
}

@media all and (min-width: 992px) {
    .widget {
        width: 31.5%;
    }
}

.widget-title,
.widget-subtitle {
    color: #fff;
}

.widget-title {
    font-size: 13px;
    font-weight: 400;
}

.widget-subtitle {
    font-size: 18px;
}

.widget-top {
    border-radius: 4px;
    display: flex;
    padding: .8rem;
}

@media all and (min-width: 768px) {
    .widget-top {
        padding: 1rem;
    }
}

.widget-content .widget-content-section {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem .5rem 0;
}

.widget-content .widget-content-section input[type="checkbox"],
.widget-content .widget-content-section .public-profile-card a,
.widget-content .widget-content-text {
    color: #3b755f;
}

.widget-content .widget-content-section input[type="checkbox"] {
    border-radius: 4px;
    font-size: 150%;
    height: 1.25rem;
    width: 1.25rem;
}

.widget-content .widget-content-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
    position: relative;
}

.widget-content .profile-link {
    border: 1px solid #3b755f;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    height: 12px;
    right: -17px;
    line-height: 9.5px;
    position: absolute;
    text-align: center;
    transition: linear .3s all;
    top: -5px;
    width: 12px;
}

.widget-content .public-profile-card {
    background: #fff;
    display: none;
    padding: .75rem;
    position: absolute;
    text-align: center;
    z-index: 100;
}

.widget-content .profile-link:hover+.public-profile-card {
    display: block;
}

.widget-content .widget-content-section .public-profile-card p {
    color: #000;
    font-size: 10px;
    margin: 0;
}

.widget-content .widget-content-section .public-profile-card a {
    font-size: 14px;
    margin-top: .5rem;
    text-transform: capitalize;
}

.widget-top-logo {
    margin-right: 1rem;
}

.widget-top-logo .logo {
    height: 45px;
}

.widget-colors {
    display: flex;
}

.widget-colors>div {
    height: 16px;
    margin: 0 .125rem;
    width: 16px;
}

@media all and (min-width: 992px) {
    .widget-colors>div {
        transition: linear .3s all;
    }

    .widget-colors>div:hover {
        cursor: pointer;
        opacity: .75;
    }
}

.widget-box--blue {
    background: #2e3a8c;
}

.widget-box--green {
    background: #3b755f;
}

.widget-box--beige {
    background: #f2ebdb;
}

.widget-box--white {
    background: #fff;
}

.widget-box--black {
    background: #000;
}

.switch {
    display: inline-block;
    height: 26px;
    position: relative;
    width: 62px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    -webkit-transition: .5s;
    background: #fff;
    box-shadow: inset 1px 1px 7px rgba(0, 0, 0, .15);
    bottom: 0;
    cursor: pointer;
    left: 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: .5s;
}

.slider .switch-round {
    -webkit-transition: .5s;
    background: #fff;
    border: 1px solid #afc6bd;
    bottom: 0;
    content: "";
    height: 26px;
    left: -0.025rem;
    position: absolute;
    transition: .5s;
    top: -0.025rem;
    width: 26px;
}

input:checked+.slider {
    background: #3b755f;
}

input:focus+.slider {
    box-shadow: 0 0 3px #f2ebdb;
}

input:checked+.slider .switch-round {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border: .6px solid #afc6bd;
    border-radius: 34px;
}

.slider.round .switch-round {
    border-radius: 50%;
    transition: linear .3s all;
}

@media all and (min-width: 992px) {
    .slider.round .switch-round:hover {
        box-shadow: 0 0 2px 5px rgb(59, 117, 95, .3);
    }
}